

.container {
    position: relative;
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
}

.title {
    font-family: var(--font-display);
    font-size: var(--text-display-lg);
    color: var(--light-ivanna-purple);
    margin-left: 15px;
    padding: 10px;
}

.subtitle {
    font-family: var(--font-body);
    font-size: var(--text-display-md);
    color: var(--deeper-ivanna-purple);
    padding: 10px;
    margin-left: 15px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    align-items: stretch;
}

.deco {
    position: absolute;
    font-family: var(--font-display);
    font-size: var(--text-display-lg);
    opacity: 70%;
    pointer-events: none;
    font-size: 18px;
    user-select: none;
    z-index: 0;
}

.deco1 { top: 7%; left: 7%; font-size: var(--text-display-lg); color: var(--ivanna-purple)}
.deco2 { top: 12%; right: 67%; font-size: var(--text-display-lg); color: var(--ivanna-purple)}

@media (max-width: 768px) {

    .container {
        position: relative;
        width: 100%;
        padding: 80px 40px;
        box-sizing: border-box;
    }

    .title {
        text-align: center;
        font-size: var(--text-display-md);
    }

    .subtitle {
        text-align: center;
        font-size: var(--text-display-sm);
    }

    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
    }
}